<div class='container'>
 <div class='row'>
    <div class='col-md-12'>
      <h2>送信が完了しました</h2>
      <p>内容は以下の通りです。</p>
      <div class="mail-details" style="margin-top: 20px;">
        <p><strong>[タイトル]</strong></p>
        <p><%= @mail_title %></p>
        <br>
        <p><strong>[本文]</strong></p>
        <p><%= simple_format(@mail_content) %></p>
      </div>
    </div>
  </div>
</div>
