<table class="table table-bordered">
  <thead>
    <tr>
      <th>投稿数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%# search_book（ローカル変数）として受け取る設定にしています %>
      <td><%= search_book.count %></td>
    </tr>
  </tbody>
</table>